<li id="micropost-<%= micropost.id %>" class="d-flex align-items-start mb-3 pb-3 border-bottom">

  <!-- Avatar -->
  <div class="avatar me-3">
    <%= link_to micropost.user do %>
      <%= gravatar_for micropost.user, size: 52 %>
    <% end %>
  </div>

  <!-- Post content -->
  <div class="micropost-body flex-grow-1">

    <div>
      <%= link_to micropost.user.name, micropost.user, class: "fw-bold me-2" %>
      <small class="text-muted">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </small>
    </div>

    <div class="content mt-1">
      <%= micropost.content %>
    </div>

    <% if current_user?(micropost.user) %>
      <div class="mt-2">
        <%= link_to "delete",
                    micropost,
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class: "text-danger small ms-1" %>
      </div>
    <% end %>

  </div>

</li>
